<?php
	require("connect.php");

try{
	date_default_timezone_set('Asia/Hong_Kong');
	$firstname = $_POST['fname'];
	$middleinitial = $_POST['mname'];
	$lastname = $_POST['sname'];
    $fullname = $firstname. ' ' . $middleinitial. ' ' . $lastname;
    $course = $_POST['course'];
    $nostreet = $_POST['nostreet'];
    $city = $_POST['city'];
    $province = $_POST['province'];
    $telno = $_POST['telno'];
    $birthday = $_POST['birthday'];
    $birthplace = $_POST['birthplace'];
    $age = $_POST['age'];
    $civilstatus = $_POST['civilstatus'];
    $nationality = $_POST['nationality'];
    $height = $_POST['height'];
    $inn = $_POST['inn'];
    $weight = $_POST['weight'];
    $rescertno = $_POST['rescertno'];
    $issued = $_POST['issued'];
    $at = $_POST['at'];
    $SSSno = $_POST['SSSno'];
    $hobbies = $_POST['hobbies'];
    $talent = $_POST['talent'];
    $physical = $_POST['physical'];
    $married = $_POST['married'];
    $language = $_POST['language'];
    $fatherN = $_POST['father'];
    $occupationF = $_POST['occupationF'];
    $mobileF = $_POST['mobileF'];
    $addressF = $_POST['addressF'];
    $motherN = $_POST['mother'];
    $occupationM = $_POST['occupationM'];
    $mobileM = $_POST['mobileM'];
    $addressM = $_POST['addressM'];
    $brothers = $_POST['brothers'];
    $sister = $_POST['sister'];
    $date = $_POST['date'];
  
	
	$stmt = $conn->prepare("INSERT INTO student (fullname, course, nostreet, city, province, telno, birthday, birthplace, age, civilstatus, nationality, height, inn, weight, rescertno, issued, at, SSSno, hobbies, talent, physical, married, language, fatherN, occupationF, mobileF, addressF, motherN, occupationM, mobileM, addressM, brothers, sister, date)
	
    VALUES (:fullname, :course, :nostreet, :city, :province, :telno, :birthday, :birthplace, :age, :civilstatus, :nationality, :height, :inn, :weight, :rescertno, :issued, :at, :SSSno, :hobbies, :talent, :physical, :married, :language, :fatherN, :occupationF, :mobileF, :addressF, :motherN, :occupationM, :mobileM, :addressM, :brothers, :sister, :date)");

	//$stmt->bindParam(':name', $fullname);
    $stmt->bindParam(':fullname', $fullname);
    $stmt->bindParam(':course', $course);
    $stmt->bindParam(':nostreet', $nostreet);
    $stmt->bindParam(':city', $city);
    $stmt->bindParam(':province', $province);
    $stmt->bindParam(':telno', $telno);
    $stmt->bindParam(':birthday', $birthday);
    $stmt->bindParam(':birthplace', $birthplace);
    $stmt->bindParam(':age', $age);
    $stmt->bindParam(':civilstatus', $civilstatus);
    $stmt->bindParam(':nationality', $nationality);
    $stmt->bindParam(':height', $height);
    $stmt->bindParam(':inn', $inn);
    $stmt->bindParam(':weight', $weight);
    $stmt->bindParam(':rescertno', $rescertno);
    $stmt->bindParam(':issued', $issued);
    $stmt->bindParam(':at',$at);
    $stmt->bindParam(':SSSno', $SSSno);
    $stmt->bindParam(':hobbies', $hobbies);
    $stmt->bindParam(':talent', $talent);
    $stmt->bindParam(':physical', $physical);
    $stmt->bindParam(':married', $married);
    $stmt->bindParam(':language', $language);
    $stmt->bindParam(':fatherN', $fatherN);
    $stmt->bindParam(':occupationF', $occupationF);
    $stmt->bindParam(':mobileF', $mobileF);
    $stmt->bindParam(':addressF', $addressF);
    $stmt->bindParam(':motherN', $motherN);
    $stmt->bindParam(':occupationM', $occupationM);
    $stmt->bindParam(':mobileM', $mobileM);
    $stmt->bindParam(':addressM', $addressM);
    $stmt->bindParam(':brothers', $brothers);
    $stmt->bindParam(':sister', $sister);
    $stmt->bindParam(':date', $date);
    $stmt->execute();
	echo "<script>alert('Data successfully added');</script>";
}
catch(PDOException $e){
	$error = $e->getMessage();
	echo '<script>alert("'.$error.'");</script>';
}
	echo "<script>window.open('Register.php', '_self')</script>";
?>